.Card {
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  color: #7c3aed;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}

.delete-btn:hover {
  transform: scale(1.1);
}